
.w-20 {
    width: 20%;
}


.w-80 {
    width: 80%;

}
.small-image {
   width: 25px;
   height: 25px;
}
.lg-image {
    width: 50px;
    height: 50px;
}
.border-y {
border-top: 1px solid #eaeaea;
border-bottom: 1px solid #eaeaea;

}

.d-grid-50 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}

.acc-left-menu {
    text-transform: uppercase;
    align-items: center;
    background-color: #cfc3b5;
    color: #fff;
    display: flex;
    font-family:'GillSansmt';
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 10px;

}

.acc-sub-menu {
    border-bottom: 1px solid #cfc3b5;
    border-left: 1px solid #cfc3b5;
    border-right: 1px solid #cfc3b5;
    padding: 7px;
    text-transform: uppercase;
        color: $primary-color;
        cursor: pointer;
        font-family:'GillSansmt';
        font-size: 12px;
        font-weight: 600;
        line-height: 25px;
    }

    .checkout-mini-header {
        background-color: #f0ece8;
    display: flex;
    flex-direction: row;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    margin: 7px 0;
    padding:3px 100px;
    }

    .step {
        align-items: center;
    background-color: #706b66;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-family:'GillSansmt';
    height: 30px;
    justify-content: center;
    margin-inline-end: 5px;
    width: 30px;
    &.active {
        background: #28a44a;
    }
    }
    .step-wrapper {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .label-text {
        color: #81C259;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    
    .time-select-modal {
        border: 1px solid $secondary-green;
        display: flex;
        flex-direction: column;
        margin-top: -1px;
        padding: 10px;
    }
    .time-box {
        align-items: center;
        border: 1px solid $secondary-green;
        cursor: pointer;
        display: flex;
        font-family:'GillSansmt';
        font-size: 10px;
        height: 45px;
        justify-content: center;
        width: 40px;
        margin: 4px;
        &.long {
            width: 120px;
        }
    }
    .w-130 {
        max-width: 130px;
    }

    .data-box {
        align-items: center;
        border: 1px solid $secondary-green;
        display: flex;
        height: 45px;
        justify-content: space-between;
        padding: 5px;
        &.no-top {
            border-top: none;
        }
        &.no-bot {
            border-bottom: none;
            
        }
    }
    .v-start {
        align-items: start !important;
    }

    .bdr {
        border-right: none;
    }
    .v-center {
        align-items: center;
    }

    .card-images {
        width: 110px;
        height: 41px;
        position: absolute;
        left: 14px;
        bottom: 0;
    }
    .h-100 {
        position: relative;
        height: 100px !important;
    }

    .account-sub-heading {
        color: $secondary-green;
    font-family:'GillSansmt';
    font-size: 14px;
    font-weight: 700;
    }

    .wallet-table {
        width: 100%;
        td {
            height: 50px;
            align-items: center;
            justify-content: center;
            color: #706b66;
            font-family:'GillSansmt';
            font-size: 12px;
            font-weight: 500;
            text-align: center;
        }
        .table-h {
            td {
                color: white;
                background: #28a44a;
                border: 1px solid white;
            }
        }
        .table-b {
            td {
                color: black;
                background: white;
                border: 1px solid #28a44a;
            }

            .acc-td {
                background: #e7e0d8!important;
                color: $bordo!important;
            }
        }
    }

    .bg-g {
        background-color: #f1ede9;
    width: 100%;
    padding: 15px;
    }
    .wallet-box {
    border: 1px solid $secondary-green;

    }
    .wallet-box-header {
        display: flex;
        width: 100%;
        align-items: center;
    }
    .wallet-box-body {
        align-items: center;
    background-color: #fff;
    display: flex;
    height: 60px;
    justify-content: center;
    border-top: 1px solid $secondary-green;
}

    .box-h-left {
        width: 100%;
        color: white;
        align-items: center;
    background-color: $secondary-green;
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: center;
    border: 1px solid $secondary-green;

    }
    .box-h-right {
        color: black;
        align-items: center;
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: center;


    }

    .card-images2 {
        width: 100px;
        margin: 0 5px;
    }
    .wallet-box-input {
        width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    font-size: 0.78rem;
    outline: none;
    }
    .border-right-1-g {
        border-right: 1px solid $secondary-green;
    }
    .total-voucher {
        width: 100%;
        height: 30px;
        padding: 5px;
        border: 1px solid $bordo;
        display: flex;
        align-items: center;
        font-weight: 700;
    }
    .mini-statement {
        border: 1px solid $secondary-green;
        padding: 5px;

    }

    .deposit-balance-btn {
        background-color: $primary-color;
    border: 0;
    cursor: pointer;
    padding: 10px 12px;
    color: #fff;
    font-size: 15px;
    margin: 0 10px;
    }

    .link {
        cursor: pointer;
    }

    .field {
        width: 100%;
        align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    border: 1px solid white;
    &.white {
        background: white;
        color: auto;
        border-color: #28a44a;
        border-top: none;
    }
    &.navy {
        color: white;
        background:  rgb(13, 44, 108);
    }
    &.green {
        background:  $secondary-green;
        color: white;
    }
    &.bdr {
        border-bottom: 1px solid rgb(13, 44, 108);;
    }
    }

    .mx-2.p-3.row {
        padding-right: 0 !important;
        margin-right: 0 !important;


    }

    table.account-table {
        border-collapse: collapse;
        td {
            text-align: center;
        }
        .thin-data {
            color: $primary-color;
    font-family:'GillSansmt';
    font-size: 13px;
    font-weight: 500;
    padding: 10px 0;
    text-align: center;
        }
        thead {
            td {
                color: white !important;
            }
        }
        tbody {
            td {
                border: 1px solid #8cc751 !important;
                /* height: 52px; */
                padding: 7px !important;
                align-items: center;
                vertical-align: middle;
            }
        }
    }
    .bg-green {
        background-color: $secondary-green !important;
    }
    .bg-green-1 {
        background-color: #28a44a !important;
    }
.silver {
    background-color: rgb(165, 165, 165) !important;
}
.gold {
    background-color: rgb(198, 142, 55) !important;
}
.platinum {
    background-color: rgb(87, 87, 87) !important;
}

p {
    color: #58585a;
    font-family:'GillSansmt';
    font-size: 14px;
    &.p1 {
        color: #58585a;
    font-size: 14px;
    font-weight: 400;
    }
    &.p2 {
        font-family:'GillSansmt';
        font-size: 16px;
        color: #58585a;
        font-weight: 400;
    
    }
}
div {
    &.p1 {
        color: #706b66;
        font-size: 14px;
        margin: 0 10px;
    }
    &.p2 {
        font-family:'GillSansmt';
        font-size: 16px;
        color: #58585a;
        font-weight: 400;
    
    }
}
.bordered-box {
    align-items: center;
    border: 1px solid #8cc751;
    display: flex;
    height: 55px;
    justify-content: center;
    margin-bottom: 15px;
 
}
.bordered-green {
    border: 1px solid #8cc751;
    width: 100%;
    margin: 0;
    }
.btn-1 {
    border: 0;
    color: #fff;
    font-family:'GillSansmt';
    height: 45px;
    width: 100%;
    margin:  7px 0;
    &.red {
        background: $bordo;
    }
    &.blue {
        background: $primary-color;;
    }
    &.green {
        background: $secondary-green;
    }
    &:disabled {
        background: lightgray;
    }

}
.text-right {
    text-align: right;
}
.refer-image img {
    width: 100%;
    object-fit: contain;
    height: 100%;
}
.h-38 {
    height: 38px !important;
}

.text-bordo {
    font-size: 16px;
    color: #A30b33;
    padding-bottom: 5px;
    font-weight: 600;
}

.primary-text {
    color: #81C259;
    font-family:'GillSansmt';
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 10px;
    min-height: 50px;
    text-transform: uppercase;
}

.bordered-navy {
    border: 1px solid $primary-color;
}
.address-box {
    border: 1px solid $primary-color;
    width: 100%;
    padding: 10px;
}
.icon--image {
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.add-box {
    height: 50px;
    border: 1px solid $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-link-1 {
    cursor: pointer;
    width: 50px;
    color: white !important;
    font-weight: 700;
    background: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.blue-box {
    border: 1px solid $primary-color;
    padding: 7px 3px;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    vertical-align: middle;
    input {
        margin: 0 5px;
    }
    &.no-top {
        border-top: none;
    }
    &.no-bot {
        border-bottom: none;
    }
}
.right-section {
    width: 80%;
}
.left-section {
    min-width: 20%;
}
.white-title {
    color: #fff;
    font-size: 14px;
    font-weight: 600px;
}

.verification-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.border-t {
    border-top: 1px solid #eaeaea;
}

.sm-link {
    color: #706b66;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-content: center;
    margin-inline-end: 10px;
    cursor: pointer;
    img {
        transform: scale(0.7);
    }
}

.css-13cymwt-control {
  
    width: 100%;
    border: none;
    min-height: 43px;

}

