.text-welcome {
    color: #888;
    font-size: 14px;
}
.m-custom-login-bts {
    margin: 0 15px;
}

.mxw-fit {
    width: auto !important;
    color: #fff;
    font-size: 15px !important;
    // margin: 0 10px;
    background-color: #81C259;
    border: 0;
    cursor: pointer;
    padding: 10px 12px !important;
    a {
        font-size: 16px;
        &:hover {
            text-decoration: none !important;
        }

    }
}

.modal-size {
    max-width: 640px;
    margin: 0 auto;
}
.input-label-text-small {
    color: #706b66;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 2px;
}

.bold {
    font-weight: bold !important;
}