.category-items-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(70px,1fr));
    grid-gap: 5px;
    .c-item {
        cursor: pointer;
        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border: 1px solid #eaeaea;
            border-radius: 50%;
            margin: 2px auto;
        }
        color: #706b66;
    font-size: 10px;
    font-weight: 600;
    }
}


.filtering-table {
    border: 1px solid #cfc3b5;
    position: relative;
    img {
        width: 20px;
    }
    .bb-1 {
        border-bottom: 1px solid #cfc3b5;
    }
    .section {
        padding: 5px;
        &.active {
            color: black;
            font-weight: bold;
            background: #eaeaea;
        }
    }
    .clear {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

}
.filter-header {
    color: $primary-color;
    font-size: 13px;
    font-weight: 600;
}

.section {
    color: #706b66;
    cursor: pointer;
    font-size: 13px;
    input[type="text"] {
        width: 100%;
        padding: 7px;
        border: none;
    outline: none!important;
    overflow: hidden;
    padding-left:35px;
    }
    
    label {
        margin: 3px 3px 1px 5px;
    }
    .b1input {
        border: 1px solid #eaeaea;
        position: relative;
        img {
            position: absolute;
            left: 0;
            top:0;
            width: 30px;
            padding: 3px;
            height: 100%;
            object-fit: cover;
            background: transparent;
        }
    }
}

.items-container-grid-4 {
    display: grid;
    grid-template-columns: repeat(5,calc(100% / 5));
    grid-template-rows: repeat(auto-fit, 110px);

}
.item-item {
    height: 200px;
}