.nav-logo {
  height: 77px;
  object-fit: contain;
}

.kibsons-input {
  width: 100%;
}

.desktop-nav {
  display: flex;
}

.container-row {
  // width: 100%;
  height: 50px;
  display: flex;
  // position: relative;
  .bg-green,.bg-green-1 {
    display: flex;
    padding: 0 10px;
    align-items: center;
    height: 100%;
  }
  .w-20 {
    width: 20%;
  }
  img {
    width: auto;
    height: 100%;
    position: absolute;
    right: 0;
  }
  .tag {
    justify-content: center;
    display: flex;
    padding: 0;
    align-items: center;
    height: 100%;
    // &.social {
    //   width: 70%;
    // }
    // &.phone {
    //   width: 55%;
    // }
    // &.dropdown {
    //   width: 75%;
    // }
  }
}
.text-through{
  text-decoration: line-through #a30b33 2px
}
.p-relative {
  position: relative;
}
.input-wrapper {
  display: flex;
  position: relative;
  z-index: 9999999;

  input {
  border: 1px solid $primary-color;;
    border-radius: 0;
    outline: none;
    width: 100%;
    font-size: 12px;
    padding: 4px 9px;
    width: 18vw;
    height: 40px;
    max-width: 300px;
    color: #58585a;
    font-size: 15px;
  
  }
  .search-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary-color;
    cursor: pointer;
    img {
      width: 29px;
    }
    svg {
      width: 29px;
      height: 29px;
    }
  }
}

.menu {
  position: relative;
}

.menu a {
  display: block;
  padding: 10px;
  color: #333;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

.menu:hover .submenu {
  display: block;
}
.cat-image-main {
  width: 100%;
  height: 550px;
  object-fit: contain;
}
.bg-green {
  background: $primary-green;
}
.bg-navy {
  background: $primary-color;;
}
.header-text {
  color: #fff;
  font-size: 0.7vw;
  font-weight: 800;
  text-transform: uppercase;
}

.middle-items {
  display: flex;
  align-items: center;
  width: 100%;
}

.container-row {
  font-family: 'kibfonts';

}

.label-input-icon {
  font-family: 'GillSansmt';
  img {
    position: initial;
    height: 25px;
    width: 38px;
    margin: 0 6px;
    object-fit: contain;
  }
  &.fb img{
    width: 12px;
    height: 20px;
    margin: 0 10px;
  }
  &.insta img,&.phone img{
    width: 20px;
    height: 20px;
    margin: 0 10px;

  }
  &.user img{
    width: 24px;
    height: 20px;
    margin: 0 10px;

  }
}



.carousel-page-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  text-align: center;

  img {
    width: 70px;
    height: 70px;
    height: auto;
    border-radius: 50%;
    border: 1px solid #eaeaea;
  }
}
.brand-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-item.flex {
  min-height: 195px;
}
.product-item {
    // width: 100%;
    // min-width: 140px;
    // max-width: 200px;
    width: 180px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: relative;
    &.cart-item {
      min-height: 185px;
    }
    .tags {
      position: absolute;
      right: 0px;
      top: -3px;
      z-index: 2;
      display: flex;
      flex-direction: column;
    .tag-image {
      height: 33px;
      margin: 3px 0;
      width: 33px;
      z-index: 9;
      object-fit: cover;
      border-radius: 50%;
      
    }
    }
    &.mini {
      width: 80px;
      margin: 0;
      
      .add-to-cart-mini {
        cursor: pointer;
    text-align: center;
        margin: 0 auto;
        background-color: #8cc751;
    border: 0;
    color: #fff;
    font-family:'GillSansmt';
    font-size: 13px;
    margin-top: 3px;
    padding: 2px 5px;
      }
      img {
        width: 80px !important;
        height: 80px !important;
        object-fit: cover;
      }
    }
    &.flex {
      margin: 9px;
      max-width: initial;
      padding: 10px;
      width: auto !important;
      text-align: left !important;
       .product-item-name {
      text-align: left !important;

       }
      .tags {
        position: inherit;
        img {
          width: 32px;
          height: 32px;
        }
      }
      .d-flex {
        width: 100%;
        align-items: center;
        img.product-item-image {
          margin-right: 7px;
          width: 100px;
          height: 100px;;
        }
        .add-to-cart-actions-container {
          position: absolute;
    width: 40%;
          right: 0;
          bottom: 9px;
          .sub,.plus {
            width: 40%;
          }
        }
      }
      img.product-item-image {
        width: 100px;
        height: 100px;
      }
    }
    img.product-item-image {
      width: 80%;
      height: 115px;
      margin: 0 auto;
      object-fit: contain;
      border-radius: 5px;
      overflow: hidden;
      transition: transform 0.2s;
    }
    
    img.product-item-image:hover {
      transform: scale(1.05);
      z-index: 1;
    }
    

    
  .product-item-name {
    color: #0d2c6c;
    font-family: 'GillSansmt';
    font-size: 16px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap
  }
  .product-item-country {
    color: #8cc751;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
.item-price {
  color: #58585a;
  font-size: 18px;
  font-weight: 400;
}
.product-item-price-final {
    color: $bordo;
    font-weight: 700;
    margin-right: 5px;
    font-size: 16px;
}
.product-item-oldPrice {
    text-decoration: line-through $bordo;
    font-size: 13px;
}
.product-item-unitDescription {
  color: #706b66;
  font-size: 13px;
  font-weight: 200;
  
}

.add-to-cart-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    .sub,.plus {
        display: flex;
        align-items: center;
        justify-content: center;
        background:#8cc751;
        color: white;
        cursor: pointer;
        width: 20%;
        height: 100%;
        color: #fff;
        font-size: 20px;
    }
    .add-card-input-container {
        height: 100%;
        width: 60%;
        .quantity-number {
            width: 100%;
        height: 100%;

            background: #cbe5b1;
            color: black;
            text-align: center;
            border: none;
            color: #000;
            font-family:'GillSansmt';
            font-size: 18px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
}

.tag {
  position: relative;
  width: 100%;
  &:hover {
    .dropdown {
      display: block !important;
    }
  }
  .dropdown {
    display: none;
    position: absolute;
    padding: 6px 5px;
    background: white;
    border-radius: 3px;
    top: 53px;
    z-index: 13;
    left: 17px;
    color: black;
    box-shadow: 0 0 0 3px #eaeaea;
    &:hover {
      display: block !important;
    }
    .link {
      cursor: pointer;
      transition: .2s;
      &:hover {
        background: #eaeaea;
      }
    }
  }
}

.dropbtn {
  background-color: transparent;
  color: white;
  font-size: .65vw;
  border: none;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 800;
}

.label-check {
  margin: 10px 0;
}
.label-check:before {
  border: 1px solid #b5b5b5;
  color: #333;
  content: "✓";
  font-size: 12px;
  line-height: 18px;
  margin-right: 4px;
  padding: 0 4px;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 11;
  top: 38px;
}

.dropdown-content a {
  color: #81C259 !important;
  cursor: pointer;
  display: block;
  font-weight: 700;
  margin: 0;
  padding: 12px;
}

  
  .dropdown-content a:hover {background-color: #ddd;text-decoration: none !important;}

.dropdown:hover .dropdown-content {display: block;}

.rounded-icon-primary {
  display: flex;
  background-color: #81C259;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  margin: 11px auto;
}
.ptr {
  cursor: pointer !important;
}

.normal {
  color: white !important;
}

.ft-img-title {
  color: #000;
 font-size: 12px;
 font-weight: 600;
 font-weight: bold;
 text-transform: uppercase;
 width: 100px;
 padding: 0 14px;

} 
a.darkblue {
  color: #81C259;
  font-weight: 600;
  display: inline;
}
.fs-24 {
  font-size: 24px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-15 {
  font-size: 15px !important;
}


.view-all {
  background-color: #fff;
  border: 1px solid;
  color: #81C259;
  font-size: .916666rem;
  font-weight: 700;
  letter-spacing: .2px;
  margin: 7.5px 0;
  padding: 7.5px 15px;
  text-transform: uppercase;
}
.add-to-list {
  color: #81C259;
  font-family:'GillSansmt';
  font-weight: 700;
  font-size: 14px;
}


.scroll-top-button {
  align-items: center;
  background-color: #000;
  border: 0;
  border-radius: 50%;
  bottom: 20px;
  color: #fff;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  opacity: .5;
  position: fixed;
  right: 20px;
  transition: .5s;
  width: 40px;
  z-index: 999999;
  svg {
    color: white;
    fill: white;
  }
}

.scroll-top-button:hover {
  background-color: #555;
}


/* styles.css */
.input-wrapper {
  position: relative;
}

.input-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  padding: 8px;
}

.kibsons-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 8px;
  font-size: 16px;
}


.ui-list-searched {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  
}

.found {
  padding: 8px;
  cursor: pointer;
}

.found:hover {
  background-color: #f0f0f0;
}

/* Animation for showing/hiding the dropdown */
.ui-list-searched-enter {
  opacity: 0;
}

.ui-list-searched-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.ui-list-searched-exit {
  opacity: 1;
}

.ui-list-searched-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

/* styles.css */
/* Styles for the custom scrollbar */
.ui-list-searched {
  /* Other styles as before */
  scrollbar-width: thin;
  scrollbar-color: #81C259 #f0f0f0; /* Scrollbar track color and thumb color */
}

/* Track */
.ui-list-searched::-webkit-scrollbar {
  width: 8px;
  background-color: #f0f0f0; /* Scrollbar track color */
}

/* Thumb (handle) */
.ui-list-searched::-webkit-scrollbar-thumb {
  background-color: #81C259; /* Scrollbar thumb color */
  border-radius: 4px;
}

/* On macOS, use these styles for better appearance */
.ui-list-searched::-webkit-scrollbar-thumb:hover {
  background-color: #07375a; /* Darker color when hovering over the thumb */
}

.ui-list-searched::-webkit-scrollbar-thumb:active {
  background-color: #061f40; /* Even darker color when actively clicking on the thumb */
}
