@media (max-width: $mobile-break-point) {
  .only-mobile {
    &.images-carousel {
      img {
        height: 200px;
        object-fit: cover;
      }
    }
    &.images-carousel-s {
      img {
        height: 140px;
        object-fit: cover;
      }
    }
  }
  .w-80 {
    width: 100% !important;
  }
  .d-grid-50 {
    grid-template-columns: 1fr;
    .border-y {
      margin: 0 !important;
      border-top: none !important;
    }
  }
  .right-section {
    width: 100%;
  }
  .product-item {
    flex-direction: row;
  }
}

.product-order-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}