.basketImg {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.howitworkstep {
    width: 100%;
    min-height: 200px;
    text-align: center;
    .primary-text {
        margin: 3px 0 !important;
        min-height: auto;
        margin: 5px auto;
    }
}
.primary-text-s {
    color: #81C259;
    font-family: "Kibsons";
    font-size: 12px;
    font-weight: 600;
}
.text-blue {
    color: $primary-color;
}

.wood-titles {
    align-items: center;
    color: #81C259;
    font-family: 'GillSansmt','GillSansmt';
    font-size: 12px;
    font-weight: 600;
}
.h100 {
    height: 100% !important;
}
.howitworkswrapper {
    position: relative;
    .line-image {
        position: absolute;
        width: 101%;
        top: 35px;
        z-index: -1;
        height: 2px;
        object-fit: contain;
    }
}
.howitworkstep img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.flex-wrapped {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    h1,div {
        width: 50%;
    }
}

.green-title {
    color: #28a44a;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}
.about-image {
    width: 100%;
}
.text-dark-green {
    color: #0c6638;
    * {
    color: #0c6638;

    }
}

.p-relative {
   position: relative ;
   .bottom-links {
    position: absolute;
    bottom: 0;
    left: 3px;
   }
}
.full-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.kibsons-card {
    background: #fff;
    box-shadow: 0 10px 20px hsla(0,0%,60%,.102);
    padding: 25px;
    position: relative;
    z-index: 2;
}

.bottom-mobile-menu {
    position: fixed;
    height: 60px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    .bg-blue {
        background: #81C259;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 30px;
    }
}

.mobile-menu-icon-btn {
    position: relative;
    img {
        width: 25px;
        height: 25px;
    }
    .count-badge {
        align-items: center;
        background-color: #8cc751;
        border-radius: 50%;
        bottom: 20px;
        color: #fff;
        display: flex;
        font-size: 12px;
        height: 20px;
        justify-content: center;
        left: 22px;
        position: absolute;
        right: 0;
        top: 1;
        width: 20px;
    }
}

.grid-regular {
    display: grid;
    grid-template-columns: repeat(7, minmax(100px, 1fr));
    
    grid-gap: 25px;
    margin-bottom: 20px;
    &.md {
        grid-template-columns: repeat(5, minmax(100px, 1fr)); 
    grid-gap: 20px;

    }
  }
  @media (max-width:1650px) {
.grid-regular {

    grid-template-columns: repeat(6, minmax(100px, 1fr));
    grid-gap: 20px;
}
  }
  @media (max-width:1450px) {
    .grid-regular {
    
        grid-template-columns: repeat(5, minmax(100px, 1fr));
    grid-gap: 18px;

    &.md {
        grid-template-columns: repeat(4, minmax(100px, 1fr)); 
    grid-gap: 20px;

    }
    }
      }
  .cart-price-text {
    color: #58585a;
    font-size: 15px;
  }
  
 
  

  