.product-details-item {
    margin: 10px 0;
    display: flex;
    width: 100%;
    .product-details-info-image {
      width: 35%;
    }
    .product-details-info-info {
      // width: 65%;
    }
    img {
      width: 100%;
        object-fit: contain;
        border: 1px solid #eaeaea;
    }
    display: flex;
    align-items: center;


    
    
}
.img-small {
  cursor: pointer;
height: 100px;
object-fit: contain;
width: 115px;
}
.title-wrapper{
    display:flex;
    align-items:center;
  }
  .title{
    background-color: #fff;
    color: $primary-color;
    font-size: 22px;
    font-weight: 600;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
  }
  .line{
    flex:1;
    background-color: #ddd4c9;
    height: 1px;
  }

  .no-img-product {
    text-align: left !important;
    .product-item-name {
    text-align: left !important;
      
    }
  }
  .product-details-info-image {
    position: relative;
  }
  .img-tags {
    position: absolute;
    bottom: 34px;
    right: 24px;
    img {
      margin: 0 4px;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .no-img {
    max-width: 400px;
    .add-to-cart-actions {
      min-width: 200px;
    }
    &.product-item {
      width: 160px;
    }
  }
  .nutrition-data {
    border-bottom: 1px solid #eaeaea;
  }
  .description-tag {
    background-color: #ddd4c9;
    border: 1px solid #ddd4c9;
    height: 40px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
  text-align: center;
  }

  .add-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 39999;
    background-color: white;
  }

  .add-to-list-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    margin: 3px 0;
    background-color:#f1ede9;
    cursor: pointer;
    svg {
      width: 55px;
      height: 55px;
    }
  }