.clear-btn {
    background-color: transparent;
    border: 1px solid #706b66;
    color: #706b66;
    font-size: 10px;
    height: 25px;
    margin-left: 15px;
}
.text-l-grey {
    color: #706b66;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase
}
.empty-text {
    color: #81C259;
    font-size: 16px;
    font-weight: 600;
}

.input-shopping-cart {
  
    height: 45px;
    width: 100%;
    border-color: #8cc751;
    outline: none;
    border: 1px solid #8cc751;
    padding: 0 10px;
    color: #495057;
    
}
.input-city-address {
    height: 45px;
    width: 100%;
    border-color: #8cc751;
    outline: none;
    border: 1px solid #8cc751;
    padding: 0 10px;
    color: #495057; 
    .css-13cymwt-control {
        border: none !important;
        height: 100% !important;
    }
}

.selected-addess {
    border: 1px solid #8cc751;
    border-top: none;
    padding: 10px;
    color: #706b66;
    font-size: 14px;
}
.g-arrow {
    img {
        width: 28px;
        height: 28px;
    }
}

.page-text-ultra-small {

}
.selected {
    background:#8cc751;
    color: white;
}