.input-shopping-list {
  
    height: 45px;
    width: 100%;
    border-color: #a30b33;
    outline: none;
    border: 1px solid #a30b33;
    padding: 0 10px;
    color: #495057;
}
.s-md {
    height: 45px;
    width: fit-content;
    min-width: 45px !important;
    font-size: 17px;
    padding: 10px 12px;
}
.list-option {
    color: #706b66;
    font-size: 14px;
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 45px;
    justify-content: center;
  img {
       width: 25px;
    height: 25px;
  }
    // Default border style
    border: 1px solid #a30b33;
    
        &:nth-child(2),
        &:nth-child(3) {
          border-left: none;
        }
  
    &.border-collapse {
      border-top: none;
    }
  }

  img.blue {
    width: 25px;
 height: 25px;
}
.blue-options {
  position: absolute;
  top: 0;
  right: 0;
}
  