


.swiper {
    width: 100%;
    height: 100%;
    // padding: 0 35px !important;
  }
  
  .swiper-slide {
    // margin: 0 auto !important;
    text-align: center;
    font-size: 16px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    // min-width: 166px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 270px;
  }

  // .large-slider-images {
  //   img {
  //       height: 100% !important;
  //       @media (max-width:885px) {
  //         height: 250px !important;
    
  //       }
  //   }
  // }
  
.products-slider {
  .swiper-slide {
    // width: 160px !important;
    // width: auto !important;
  }
  .swiper-wrapper {
    justify-content: start;
  }
  .swiper-pagination-fraction {
    display: none !important;
  }
}

.swiper-button-next,.swiper-button-prev {
  transform: scale(0.7);
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  padding: 10px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: white !important;
  background: #d0d0d0 !important;
  &::after {
    transform: scale(0.55);
  }
}

.otp-btn-wrapper{
  width: 30%;
  button {
    height: 50px;
  }
}