// src/styles/globals.scss
@import "~bootstrap/scss/bootstrap";


$primary-color:#81C259;
$primary-green: #28a44a;
$secondary-green:#8cc751;
$secondary-color: #6c757d;
$success-color: #28a745;
$bordo:#a30b33;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;
$mobile-break-point:1200px;
@import "./scss/home.scss";
@import "./scss/categories.scss";
@import "./scss/productDetails.scss";
@import "./scss/account.scss";
@import "./scss/pages.scss";
@import "./scss/mobileStyles.scss";
@import "./scss/sliders.scss";
@import "./scss/auth.scss";
@import "./scss/shopping-list.scss";
@import "./scss/shopping-cart.scss";

@import "./mobile.scss";

@font-face {
  font-family: 'GillSansmt';
  src: url("/fonts/gillSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "kibfonts";
  src: url("/fonts/kibsons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sign Painter";
  src: url("/fonts/signPainter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: "noto sans";
  src: url("/fonts/NotoSansArabic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "noto sans";
  src: url("/fonts/NotoSansArabic-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.product-item.mini {
  width: 100%;
}

.arabic-locale {
  .css-csnbbl-indicatorContainer {
    left: 0;
    right: auto;
  }
  .product-item.mini {
    width: 100%;
    min-width: 120px;
  }
  img.product-item-image {
    margin-right: 0;
    margin-left: 7px;
  }
  .arabic-locale a, .arabic-locale div {
    // text-align: center;
  }
  .product-item.flex .product-item-name {
    text-align: right !important;
  }
  .add-to-cart-actions-container {
    .text-right {
      text-align: left !important;
    }
  }
  .cart-price-text {
    text-align: left !important;
  }
  .product-item.flex .d-flex .add-to-cart-actions-container {
    left: 0;
    right: auto;
  }
  .blue-options {
    left: 0;
    right: auto;
  }
  direction: rtl;
  .text-left,h1,h2,h3,h4,h5,span,p {
    text-align: right;
  }
  /* add other styles here */
  .container-row img {
    left: 0;
    right: auto;
  }
  .my-account-menu-wrapper {
    right: auto;
    left: 50px;
  }
  a,div {
    // text-align: right;
  }
  .small-image {
    margin-left: 5px;
  }
  .product-item.flex .d-flex .add-to-cart-actions {
    left: 0;
    right: auto;
    text-align: right;
  }
  *,body,button {
    font-family: 'noto sans' !important;
    
  }
  .categories-array .catname {
    font-size: 14px;
  }
  .product-item .product-item-name {
    font-size: 16px;
  }
}

.gap-10 {
  gap: 25px;
}
.text-fixed {
  height: 25px;
    line-height: 0.95;
    font-size: 12px;
}




body {
  color: #58585a;
  font-family: "GillSansmt";
}

.fs-14 {
  font-size: 14px;
}
.text-light-grey {
  color: #706b66;
}
* {
  font-family: "GillSansmt";
}
.f-gill {
  font-family: 'GillSansmt';
}
.bold-text {
  color: #000;
  font-size: 0.95vw;
  font-weight: 700;
}
.container {
  max-width: 85%;
}
.logo1 {
  cursor: pointer;
  height: auto;
  width: 12.65vw;
  max-width: 140px;
  max-height: 100px;
  object-fit: contain;}
.logo2 {
  width: 0vw
}
.bb-g {
  border-bottom:  1px solid $secondary-green;
}
.main-navbar {
  display: flex;
  align-items:center;
  justify-content: space-between;
  width: 100%;


}
.sticky-nav {
  background-color: #fff;
  // position: -webkit-sticky;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100% !important;
  left: 0;
}

.nav-bottom-menu {
  box-shadow: 0 8px 9px -7px #e7e0d8;
  /* height: 30px; */
  width: 100vw;
  position: relative;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 100;
  padding: 0px;
  background: #fff;
  /* transform: translateY(-1px); */
  padding-bottom: 4px;
  padding-top: 0px;
  
}

.app-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #eaeaea49;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.app-loader::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #ffffff00;
  opacity: 0.9;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.loader-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 1s linear infinite;
  z-index: 100000;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.onlyLabels {
  height: 22px;
  object-fit: cover;
  object-position: bottom;
}
.img-clock {
  width: 45px !important;
  height: 45px !important;
}
.divider-container {
  background-color: #fff;
  height: 40px;
  margin: 0px 1px 0;
  width: 1px;
}
.menu-items {
  color: #58585a;
}
.container-row,.main-navbar {
  position: relative;
}
.nav-item {
  color: $primary-color;
  font-family: "Gillsansmt";
  cursor: pointer;
  font-size: 0.71vw;
  padding: 0 2px;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 700;
  // background: none;
  // border: none;
  a {
    color: $primary-color !important;
  }
}

.cart-icon,
.fav-icon {
  cursor: pointer;
  height: 28px;
  margin: 0px 7px 5px;
  width: auto;
}
.fav-icon {
  margin-top: 3px !important; 
}
.p-relative {
  position: relative;
}
.counter {
  position: absolute;
  font-size: 12px;
}
.c-nav {
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}
.c-white {
  color: white;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}.c-white {
  color: white;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.filter-page-path {
  color: #706b66;
  font-size: 13px;
  font-weight: 600;
  white-space: nowrap;
}

.text-upper-case {
  text-transform: uppercase;
}
.categories-array {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: nowrap; /* Prevent wrapping to multiple rows */
  position: relative;
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  grid-gap: 5px;
  // overflow-x: scroll;
    .category-item {
      flex: initial; /* Distribute equal width to all items */
      align-items: center;
      gap: 2px;
      width: 100%;
      max-width: 75px;

      .cat-img {
        width: 55px !important;
        height: 60px;
        aspect-ratio: 16/9; /* Set the aspect ratio to 16:9 */

        object-fit: contain;
        border-radius: 5px;
        margin: 5px 0px;
      }
      .coll-img {
        width: 20px !important;
        height: 20px;
        object-fit: cover;
        border-radius: 50%;
        margin: 5px 0px;
    }
    .coll-name {
      color: #81C259;
      cursor: pointer;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
  }
    }
      .catname {
        border-radius: 5px;
        padding: 3px;
        font-size: 11px;
        color: white;
        font-weight: 500;
        background: #81C259;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      
    }

  .menu-pop {
    background-color: #f0ece8;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    left: 0;
    min-height: 200px;
    min-width: 100%;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    z-index: 15;

    
  }

  .cat-menu-arrow {
    content: "";
    position: absolute;
    bottom: -25px;
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid rgba(0, 0, 0, 0);
    border-top: 25px solid;
    width: 0;
    height: 0;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 100;
}
.collection-item {
    min-width: 180px;
    display: flex;
    margin: 6px;
    align-items: center;
    gap: 6px;
}

.coll-name {
        color: $primary-color;
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        transition: .2s;
        &:hover {
          text-decoration: underline;
        }
}
.category-item {
  flex: initial; /* grow factor, shrink factor, basis */
  margin: 4px;
  text-align: center;
  cursor: pointer;
  &:first-child {
    /* styles for first child */
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
    /* styles for last child */
  }
  img {
       width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 0 auto;
  }
}
.c-pointer {
  cursor: pointer;
}

.item-name {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.items-container {
  display: flex;
  flex-wrap: wrap;
  // width: 100%;
  }
  

  
  img.item-img {
    width: 60px !important;
    height: 60px !important;
//    border-radius: 50% !important;
    object-fit: contain;
  }

.p-3.pl-5 {
  padding-left: 60px !important;
}
  h1 {
    color: #000;
    font-family: 'GillSansmt';
    font-size: 26px !important;
    text-align: left;
    margin: 10px 0 !important;
  }

  .footer {
    .row1 {

      display: flex;
    text-align: center;
    justify-content: space-between;

    }
    .footer-p-1 {
      // height: 286px;
      background: #ddd4c9;
      .footer-content {
        width: 80%;
        margin: 0 auto;
      }
    }
    .footer-p-2 {
      background: $primary-color;
      .footer-content {
        width: 80%;
        margin: 0 auto;
      }
    }
    .ft-image {
      height: 65px;
      width: 65px;
    }
    .ft-image-title {
      color: $primary-color;
      font-size: 14px;
      font-weight: 600;
      margin-left: 2px;
      font-family: 'Kibsons';
    }
    .footer-image-label {
      text-align: left;
    max-width: 160px;
    display: flex;
    align-items: center;
    color: $primary-color;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
 
  }
}
.footer-bordo {
  color: $bordo;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  }
  .text-white {
    color: white;
    * {
      color: white;
    }
  }

.info-1 {
  h4 {
    color: $bordo;
    font-weight: 700;
    margin: 10px 0;
  }
  * {
    color: white;
  }
}
.premiem-text {
  max-width: 481px;
}

.divider {
  margin: 20px 0;
  width: 100%;
  height: 1px;
  background: white;
}
.divider-red {
  border-bottom: 5px solid $bordo;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 50%;
}

.fs-13{
  font-size: 13px;
}
.heading {
  color: #000;
  font-family: 'GillSansmt','GillSansmt';
  font-size: 17px;
  font-weight: 700;
}
.devider-small {
  background-color: #0c6638;
    height: 1px;
    margin-top: 5px;
    width: 55px;
}
.add-to-fav-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  font-size: 12px;
  margin-top: 2px;
}
.add-to-fav {
  height: 100%;
  background: #eaeaea;
  width: 79%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heart {
  height: 100%;
  width: 20%;
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.primary {
  align-items: center;
  background-color: $primary-color;
  border: 0;
  display: flex;
  justify-content: center;
  padding: 8px;
  width: 100%;
  color: #fff;
  font-size: 15px;

}
.nav-item {
  background: transparent;
  border-color: transparent;
  display: flex;
    align-items: center;
  &:hover {
    .my-account-menu-wrapper {
      display: block;
    }
  }
}
.lnk,a {
  display: block;
  color: #000 !important;
  text-decoration: none !important;
}
.my-account-menu-wrapper {
  position: absolute;
  top: 15px;
  right: 50px;
  width: 66vw;
  display: none;
  background: transparent;
  z-index: 999;
  padding: 16px;
  .my-account-menu {
    background-color: #f1ede9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 22px 16%;
    text-align: left;
  
    *,a {
      color: #706b66 !important;
      line-height: 1.4;

    }
    h5 {
      font-size: 15px !important;
      font-weight: 600;
    }
    a {
      font-size: 14px;
      font-weight: 400 !important;
      line-height: 1.6;
      &:hover {
        text-decoration: underline !important;
      }
    }
  }
}

a {

  &:hover {
    text-decoration: underline !important;
  }
}

.mw-80 {
  max-width: 600px;
  margin: 10px auto;
}

button.secondary {
  align-items: center;
  background-color: $primary-green;
  border: 0;
  display: flex;
  justify-content: center;
  padding: 8px;
  width: 100%;
  color: #fff;
  font-size: 12px;

}

button.light-green {
  background-color: #8cc751;
  border: 0;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;

}
.input-label-text {
  color: #81C259;
  // font-family: RobotoRegular;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

input.text-box,select.text-box,textarea.text-box {
    border: 1px solid $secondary-green;
    border-radius: none;
    border-radius: 0;
    color: #495057;
    font-family: 'GillSansmt';
    font-size: .9rem;
    font-weight: 400;
    height: 50px;
    padding: 0 10px;
    width: 100%;
    outline: none;
}
textarea.text-box {
  height: 100px !important;
}
.container {
  width: 85% !important;
  max-width: initial !important;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  // display: none; /* start with the overlay hidden */
}

/* Hide mobile navigation bar on desktop */
.only-mobile {
  display: none;
}

/* Hide desktop navigation bar on mobile */
.only-desktop {
  display: none;
}

h2 {
  color: #81C259;
  font-size: 2rem;
}

.main-layout-wrapper .page-content {
  min-height: 200px;
  margin-top: 8px;
}

@media (min-width: 1200px) {
  .main-layout-wrapper .page-content {
    margin-top: 151px;
  }
}

@media (min-width: 1280px) {
  .main-layout-wrapper .page-content {
    margin-top: 153px;
  }
}

@media (min-width: 1360px) {
  .main-layout-wrapper .page-content {
    margin-top: 155px;
  }
}

@media (min-width: 1440px) {
  .main-layout-wrapper .page-content {
    margin-top: 157px;
  }
}

@media (min-width: 1520px) {
  .main-layout-wrapper .page-content {
    margin-top: 159px;
  }
}

@media (min-width: 1600px) {
  .main-layout-wrapper .page-content {
    margin-top: 160px;
  }
}

@media (min-width: 1680px) {
  .main-layout-wrapper .page-content {
    margin-top: 162px;
  }
}

@media (min-width: 1760px) {
  .main-layout-wrapper .page-content {
    margin-top: 164px;
  }
}

@media (min-width: 1840px) {
  .main-layout-wrapper .page-content {
    margin-top: 166px;
  }
}

@media (min-width: 1920px) {
  .main-layout-wrapper .page-content {
    margin-top: 170px;
  }
}

 
  

  

/* Show mobile navigation bar on mobile devices */
@media only screen and (max-width: $mobile-break-point) {
  .only-mobile {
    display: block;
    // height: 50px;
  }
  .main-layout-wrapper {
    .page-content {
      margin-top: 0;
    }}
  
}

/* Show desktop navigation bar on desktop devices */
@media only screen and (min-width: $mobile-break-point) {
  .only-desktop {
    display: block;
  }
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.burger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.line {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: transform 0.3s ease-in-out;
}

.line:nth-child(1) {
  transform: translateY(-2px);
}

.line:nth-child(3) {
  transform: translateY(2px);
}


.mobile-profile-header {
  background:$primary-color;
  color: #fff;
    font-size: 14px;
  position: relative;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  * {
    color: white;
  }
}
.mobile-searchbox {

  height:120px;
  background:$primary-color;
  color: #fff;
    font-size: 14px;
  position: relative;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
  input {
    padding-left: 10px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    height: 45px;
    width: 100%;
  }
  svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.mobile-top-header {
  height:120px;
  background:$primary-color;
  color: #fff;
    font-size: 14px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  h4 {
    position: absolute;
    font-size: 14px;
    top: 5px;
  right: 5px;  }
}
.sidebar {
  position: fixed;
  top: 0;
  left: -80%; /* change this to adjust the initial position */
  height: 100vh;
  width: 80%;
  background-color: white;
  z-index: 1;
  transition: left 0.3s ease-in-out;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.16);
}
.sidebar-bg-closer {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .3;
  left: 0;
  right: 0;
  bottom: 0;
  top:0;

}


.show-sidebar {
  left: 0;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close-button span {
  font-size: 24px;
}


.inline-slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}


.main-menu-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $primary-color;;
  height: 50px;
  width: 100%;
  svg {
    // width: 100px;
  }
  img {
    height: 89%;
    max-width: 151px;
    object-fit: contain;
    width: 100%;
    max-height: 47px
  }
  img.phone {
    color: transparent;
    width: 20px;
    margin: 20px;
  }
}

.my-nav {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 10;
}
.btn-collapse {
  background: $secondary-green !important;
  border: none !important;
  border-radius: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  text-align: left !important;
  text-transform: uppercase !important;
}

.cat-item {
  position: relative;
  display: flex;
  align-items: center;
  .cat-name {
    color: #81C259;
    font-size: 12px;
    font-weight: 600;
  }
  img {
    width: 30px;
    height: 30px;
    margin-right: 4px;
  }
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eaeaea;
  svg {
    position: absolute;
    right: 5px
  }
}

.collapse {
  overflow-y: scroll;
}



.g-arrow {
  align-items: center;
  background-color: $secondary-green;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 90px;
}

.curser-pointer {
  cursor: pointer;
}

.radio.section {
  display: flex;
  align-items: center;
}
.radio {
  margin: 0 3px;
}



.add-to-list-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 3px;
  border: 1px solid #eaeaea;
}
.list-name-box {
  width: 100%;
  border: 1px solid #eaeaea;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9px;

}

.primary-brown {
  background: $bordo;
  border-radius: 0;
  border:none;
  min-width: 120px;
}
.primary-red {
  border-radius: 0;
  background: $danger-color;
  border:none;


}
.images-new {
  img.cns-image {
    width: 25px !important;
    height: 25px !important;
  }
}
.address-address {
  display: flex;
  align-items: center;
  
  .addressTitle  {
    background: #eaeaea;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    padding: 8px 13px;
    color: black;
    border: 1px solid transparent;
    &.selected {
      border-color: $primary-color;
    background-color: #8cc751;

    }
  }
}

.section-box {
  width: 100%;
  min-width: 200px;
}
.address-field {
  input.text-box, select.text-box, textarea.text-box {
    border-color: $primary-color;
  }
  
}
.address-field {
  display: flex;
  align-items: center;
  #default-address {
    margin: 0 10px;
    width: 22px;
    height: 22px;
  }
}
.relative {
  position: relative;
}
.map-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  .map-map {
    height: 90%;
    width: 100%;
    border: 1px solid $primary-color;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 1px;
  }
}



.homeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  margin-right: 16px;
  margin-right: 16px;
  width: 20%;
  height: 100%;
  background-color: #333;
  overflow-y: scroll;
}

.autocompleteWrapper {
  width: 100%;
  height: 100%;
}

.autocompleteInput {
  width: 96%;
  margin: 84px auto 0 auto;
  padding: 16px;
  display: block;
  border: 1px solid yellow;
}

.suggestionWrapper {
  margin: 0;
  width: 96%;
  overflow-x: hidden;
  list-style: none;
  margin: 0 auto;
  display: block;
  padding: 4px;
}

.suggestionWrapper > li {
  padding: 8px 4px;
  background-color: lightcoral;
  margin: 4px 0;
  cursor: pointer;
}
.map-locations-actions {
  position: absolute;
  top: 0;z-index: 999;
  width: 100%;
  padding: 17px;
  input {
    background-color: #fff;
    border: 1px solid #706b66;
    border-radius: 10px;
    color: #58585a;
    opacity: .9;
    padding: 8px;
    width: 100%;
  }
  button {
    background-color: #706b66;
    border: 1px solid;
    border-radius: 10px;
    color: #fff;
    display: flex;
    font-size: 14px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 5px;
    padding: 5px 10px;
    z-index: 13;

  }
  ul {
    margin: 0;
    list-style: none;
    margin: 0;
    width: 100%;
    display: block;
    padding: 4px;
    background: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 7px;

    li{
      padding: 8px 4px;
    margin: 4px 0;
    cursor: pointer;
    background: white;
    }
  }
}

.mapbtn {
  margin: 10px 0;
  border: 0;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  width: 270px;
  text-transform: uppercase;
  &.confirm-pin {
    background: #a30b33;
  }
  &.skip {
    background: #8cc751;
    margin-left: 8px;
  }
}
.update-pin {
  background-color: #81C259;
  border: 0;
  cursor: pointer;
  padding: 10px 12px;
  color: #fff;
  font-size: 15px;
  margin: 0 10px;
}

.text-edit {
  color: #81C259;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.address-title {
  color: #81C259;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.checkout-p-1 {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 700px;
}
.active-tag {
  * {

    color: $success-color;
  }
}

.scroll-y {
  max-height: 500px;
  overflow-y: scroll;
}

.filter-item-tag {
  cursor: pointer;
  transition: .2s;
  &:hover {
    color: $primary-color;
  }
}

.spinner-grow {
  color: $primary-color;
}

.text-green {
  color: #81C259 !important;
}

.order {
  cursor: pointer;
  transition: .2s;
  &:hover {
    background: #eaeaea57;
  }
}
