@media (max-width: $mobile-break-point) {
  .product-item {
    width: 100% !important;
  }
  .mapbtn {

    &.skip {
      margin-left: 0px;
    }
  }
  .sidebar {
    width: 80% !important;
    height: 100vh;
    background-color: white !important;
  }
  .grid-regular{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 20px 0;
    margin-bottom: 20px;
  }
// @media (max-width: 850px) {
//   grid-template-columns: repeat(3, minmax(200px, 1fr));

// }
@media (max-width: 800px) {
  .grid-regular,.grid-regular.md  {

  grid-template-columns: repeat(2, 1fr);

}}

  
  .login-page {
    .transparent {
      width: 100%;
      background: $primary-green;
      color: white;
      border: 1px solid white;
      background: transparent;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .danger {
      background: $bordo;
      width: 50%;
      border: none;
      outline: none;
      margin-right: 10px;
    }
    h2 {
      margin: 10px 0 !important;
    }
    img {
      width: 135px;
    }
    .heading,
    p {
      color: white;
    }
    position: fixed;
    background: $primary-color;
    height: 100%;
    z-index: 999999999999;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 30%;
    button {
      width: 50%;
      background: $primary-green;
      color: white;
    }
    button.m-2 {
      display: none;
    }
  }
  .inline-slider {
    flex-wrap: wrap;
  }
  .inline-slider > div {
    width: 50%;
    scroll-snap-align: start;
  }
  .offers-slider .carousel img {
    width: 100% !important;
    height: 200px;
    object-fit: cover;
  }

  .inline-slider.d-flex,
  .row1 {
    display: block !important;
  }
  .main-layout-wrapper .container {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    max-width: initial !important;
    margin: 0 auto;
  }
 
  .nav-mobile {
    display: flex;
    padding: 0 !important;
    width: 100%;
    margin: 0;
  }
  .footer {
    .footer-info,
    .footer-image-label {
      margin: 14px 0;
    }
    .info-1 {
      text-align: center;
    }
    .footer-p-1 {
      height: auto !important;
    }
    div {
      // margin: 2px !important;
    }
    .p-5 {
      padding: 10px !important;
    }
    .d-flex {
      display: block !important;
    }
  }

  .categories-array {

    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    grid-gap: 5px;
    .category-item {
      margin: 0 !important;
      width: 100% !important;
    }
  }
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  .label-check:before {

    margin-left: 8px;
}
.main-menu-items {
  height: 53px !important;
  img.logo-kib-mobile {
    max-width: 130px !important;
  
  }
  img.phone {
    margin: 8px !important;
  }
  img.delivery-image {
    // width: 115px !important;
    // height: 100%;
    // object-fit: cover;
  }
  
}
.mobile-height {
  height: 195px !important;
}
.pad-mobile {
  padding: 15px;
}

.category-items-grid {
  grid-template-columns: repeat(3,1fr) !important;
  img {
    width: 60px !important;
    height: 60px !important;
  }
}

.cat-image-main {
  width: 100%;
  height: 150px;
  object-fit: contain;
}
.product-item {
  width: 173px !important;
  overflow: hidden;
}
.acc-sub-menu {
  .checkout-mini-header {
      padding: 8px;
  }}

  .filtering-table {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70%;
    z-index: 11;
    background: white;
    overflow-y: scroll;
  }
  .mobile-filters {
    position: fixed;
    top: 0;
    background-color: #0a0489;
    width: 100%;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 19;
    left: 0;
    right: 0;
    svg,img {
      cursor: pointer;
      margin: 0 4px;
      width: 26px;
    height: 26px;
    }
  }

  .modal-slide-up {
    
.Button {
  cursor: pointer;
  margin: 0 0 12px;
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  background-color: #00d1b2;
  border-color: transparent;
  color: #fff;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
}

.CenterAlign {
  top: 25%;
  position: absolute;
  left: 50%;
  transform: t(-50%, -25%);
}

.Overlay {
  background-color: rgba(0, 0, 0, 0.55);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: none;
  z-index: 5;
}

.Overlay.Show {
  display: block;
}

.Modal {
  position: fixed;
  bottom: -150vh;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.15);
  left: 0;
  padding: 0 12px 12px;
  transition: all 0.3s ease-out;
  z-index: 10;
}

.Modal.Show {
  bottom: 0;
}

.Close {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 10px;
  background-color: transparent;
  border: 0;
  font-size: 18px;
}

.Alert {
  position: fixed;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  top: 0;
  left: 0;
  color: #fff;
  background-image: linear-gradient(
    90deg,
    #ff9a8b 0%,
    #ff6a88 55%,
    #ff99ac 100%
  );
  margin: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.Alert:empty {
  padding: 0;
}

  }
  .scroll-y {
    overflow-y: scroll;
    height: 200px;
    .p-3 {
      padding: 1px !important;
    }
  }
  .hy-custom {
    height: 600px;
    overflow-y: scroll;
  }
}

